<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="garbageWcfService.StockProvider">
        <!--
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_Time_Addresses/garbageWcfService/IStockProvider/" />
          </baseAddresses>
        </host>
       -->
        <endpoint address ="http://localhost:8732/Design_Time_Addresses/garbageWcfService/IStockProvider/" 
                  binding="wsHttpBinding"
                  contract="garbageWcfService.IStockProvider">
          
          <!--
          <identity>
            <dns value="localhost"/>
          </identity>
          -->
        </endpoint>
        
        <endpoint address="http://localhost:8732/Design_Time_Addresses/garbageWcfService/IStockProvider/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>          
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8732/Design_Time_Addresses/garbageWcfService/IStockProvider/mex"/>          
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
