<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DTCEntities" connectionString="metadata=res://*/DTC.csdl|res://*/DTC.ssdl|res://*/DTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=blob;Initial Catalog=DTC;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SlateEntities" connectionString="metadata=res://*/Slate.csdl|res://*/Slate.ssdl|res://*/Slate.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=blob;Initial Catalog=Slate;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="DtcInstructorEntities" connectionString="metadata=res://*/DTCInstructor.csdl|res://*/DTCInstructor.ssdl|res://*/DTCInstructor.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=blob;Initial Catalog=DtcInstructor;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
