<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SlateEntities" connectionString="metadata=res://*/Slate.csdl|res://*/Slate.ssdl|res://*/Slate.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BLOB;Initial Catalog=Slate;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>